nav.navbar.navbar-default{
    background-color: #e5e5e5;
    border-color: #2e6da4;
    margin-top: 10px;
}
nav.navbar.navbar-default a {
    color: #363636;
}
li p.navbar-text, a.navbar-brand {
    color: #363636!important ;
    font-weight: bolder;
}

.fa-trash-alt {
    color: #575a60;
}

.fa-search {
    color: #575a60;
}

.fa-boxes {
    padding-right: 5px;
}

.fa-edit{
    color: #575a60;
}
